// <reference path='../node_modules/@angular/material/theming' />
// <reference path='../node_modules/@covalent/core/theming/all-theme' />
@import '~@angular/material/theming';
@import '~@covalent/core/theming/all-theme';

$typography: mat-typography-config();
$primary: mat-palette($mat-deep-purple);
$accent: mat-palette($mat-amber);
$warn: mat-palette($mat-red);
$theme: mat-light-theme($primary, $accent, $warn);

@include mat-core($typography);
@include angular-material-theme($theme);
@include covalent-core();
@include covalent-theme($theme, $typography);
